
:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(219, 181, 13);
  background-color: #096418ad;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-top: 0px;
  background-color: #855b0cf6;
  border-radius: 65px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(1, 1, 1,1);
  background-image: url('./assets/plants.jpg');
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background: url('https://www.wallpaperflare.com/static/1008/51/328/space-galaxy-stars-pink-wallpaper.jpg') no-repeat center center fixed; 
  background-size: cover;
}

h1 {
  font-size: 3.8em;
  line-height: 1.1;
  text-shadow: 8px 8px 8px;
  margin-left: 100px;
  margin-top: 100px;
  padding-top: 90px;
  
}

nav {
  position:relative
  
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background: rgb(129, 3, 3);
  margin: 4px 0;
  
}
.hamburgerPosition{
  margin-left: 350px;
  text-shadow: 8px 8px 8px;
  font-size: x-large;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li {
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
  }

  .hamburger {
    display: flex;
  }

  nav.active ul {
    display: flex;
  }
}

a {
  font-weight: 500;
  color: #ffc400;
  text-decoration: inherit;
}
a:hover {
  color: #09ff00;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #1921be;
  }
  button {
    background-color: #f9f9f9;
  }
}

.avatar{
  margin-left: 350px;
}

